<div class="home">

<h1> Welcome to Elixir </h1>

<div class="descrip"
<p> Elixir is a fast, easy way to prepare solutions and store recipes without the hassle of dilution calculations. Simply input the desired concentration of a solution, the stock concentration, and the final volume desired and Elixir will tell you the volume of each solute required and the volume of the solvent that should be added.</p>
</div>

<h3> Click the Potion to Begin Crafting </h3>

<div class="potion">
<a href= "/solutions/new"><img class="potion" src="/img/potion_for_app.png"></a>
</div>

</div>